<header>
    <div name="mainHeaderDiv" id="mainHeader" class="headerBar">
        <form name="logoutForm" method="post" action="logout">
        <h1 id="mainHeaderText"> NV "Fuck Yeah" Pokemon League</h1>
            <button name="logoutButton" id="mainHeaderLogout">Log out</button>
        </form>
    </div>
</header>