<header>
    <div id="mainHeaderDiv" class="headerBar">
        <div id="headerTitleDiv">
            <label class="titleText">Nancy Venia</label>
            <br>
            <label class="titleText">"Fuck Yeah" Pokemon League</label>
        </div>
        <div id="headerInfoDiv">
            <p class="headerInfoText" id="headerInfo">{{userData.screenName}}</p>
        </div>
    </div>
</header>