body{
    background-image: url("grayBack.jpg");
    margin: 0px;
}

.headerBar{
    box-shadow: 0px 3px 5px 2px #888888;

    position: sticky;
    top: 0;
}

.logoutButton{
    background-color: #3B4CCA;
    border-radius: 4px;

    font-family: Arial, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;

    padding: 10px;
}

.logInput{
    width: 94%;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(187, 184, 184);

    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.sectionDiv{
    margin-top: 12px;
    margin-bottom: 5px;
    margin-left: 12px;
    margin-right: 12px;
}

.panelDiv{
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 3px 5px 2px #888888;
    overflow: hidden;
}

.sectionTitles{
    background-color: #3B4CCA;
    border-color: #3B4CCA;
    border-style: solid;
    border-width: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    color: white;
    border-radius: 4px;
    
    text-align: left;
    margin: 0px;
}

.infoDiv{
    padding: 10px;
    display: inline-block
}

/*Text classes*/
.labelText{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
}

.normalText{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
}

.infoText{
    font-size: 16px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.titleText{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.headerInfoText{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
}

/*Welcome page CSS*/
#welcomeHeaderDiv{
    border-color:rgb(91, 170, 190);
    border-width: 2px;
    border-style: solid;
    background-color: rgb(91, 170, 190);
    box-shadow: 0px 3px 5px 2px #888888;
}

#wHeaderText{
    color: white;
    font-family: Verdana, Arial, sans-serif;
    font-size: 15px;

    margin-left: 10px;
    text-align: left;
    display: inline-block;
}

#authorText{
    color: white;
    font-family: Arial, Verdana, sans-serif;
    font-size: 10px;

    margin-top: 20px;
    margin-right: 10px;
    text-align: right;
    position: inherit;
    float: right;
}

/*Header Bar CSS.*/
#mainHeaderDiv{
    background-color: #FFDE00;
    border-width: 1px;
    border-style: solid;
    border-color: #FFDE00;
}

#headerTitleDiv{
    margin: 10px;
    display: inline-block;
}

#headerInfoDiv{
    float: right;
}

#headerInfo{
    font-size: 17px;
    background-color: rgb(151, 1, 1);
    border-right-color: rgb(151, 1, 1);
    border-right-style: solid;
    border-right-width: 2px;
    color: white;
    box-shadow: 0px 2px 5px 2px #888888;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*Login page CSS*/
#loginPageDiv{
    width: 375px;
    min-width: 300px;

    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
}

#loginFormDiv{
    background-color: white;
    border-radius: 5px;;
    box-shadow: 0px 3px 5px 2px #888888;
}
#loginTitle{
    font-family: 'Franklin Gothic Medium', 'Verdana', sans-serif;
    font-size: 22px;
}

#welcomeTextDiv{
    overflow: hidden;
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

#loginTable{
    width: 94%;
    border-spacing: 5px;
    
    text-align: left;
    margin: auto;
}

#logHeader{
    font-size: 16px;
    font-style: Verdana, Arial, sans-serif;
    margin: 20px;
}

#loginLogButton{
    margin-top: 10px;
    margin-bottom: 10px;
}

#messageLabel{
    font-size: 18px;
    font-family: monospace;
    font-weight: bold;;
    color: rgb(173, 0, 0);
}


/*Main Page CSS*/
#mainLogout{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#logoutDiv{
    text-align: center;
}

#userStatsDiv{
    display: inline-block;
}

#userStatsTable{
    width: 100%;
    border-spacing: 10px;
    text-align: left;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#hStatsDiv{
    float: right;
}

#hStatsTable{
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    border-spacing: 10px;
}

#rightAlignTD{
    text-align: right;
}


#brTable{
    width: 96%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    
    text-align: center;
    border-spacing: 10px;
}

#playerDrop{
    width: 75%; 
    height: 25px;
    font-size: 16px;
    margin: 10px;
}

#matchRange{
    width: 75%;
}

#winSubmit{
    background-color: #3B4CCA;
    font-family: Arial, Verdana, sans-serif;
    font-size: 1.0em;
    color: white;
    
    padding: 10px;
}

#pointsDiv{
    background-color: #FFDE00;
    
    float: right;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
}

#pointsDivFont{
    color: green;
}

#claimTable{
    width: 96%;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    
    text-align: center;
    border-spacing: 10px;
}

#packNumber{
    width: 75%;
}

#packCost{
    color: red;
}

#packCostFont{
    color: red;
}

        
#leaderboardTable{
    width: 96%;

    border-spacing: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-spacing: 10px;
}

#leaderTR:nth-child(even){
    background-color: rgb(192, 192, 192);
}
        
#e4Table{
    border-spacing: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}